---
import { Image } from "astro:assets";

interface Props {
  id: string;
  status: keyof typeof statusMapping;
  avatar: string;
  username: string;
}

const { username, id, avatar, status } = Astro.props;

const statusMapping = {
  online: {
    color: "bg-green-400",
    humanizedName: "Online",
  },
  offline: { color: "bg-gray-400", humanizedName: "Offline" },
  idle: {
    color: "bg-yellow-400",
    humanizedName: "Idle",
  },
  dnd: {
    color: "bg-red-400",
    humanizedName: "Do Not Disturb",
  },
  streaming: { color: "bg-purple-400", humanizedName: "Streaming" },
} as const;
---

<span class="relative inline-block">
  <Image
    src={`https://cdn.discordapp.com/avatars/${id}/${avatar}.png?size=4096`}
    alt={`${username}, ${statusMapping[status].humanizedName}`}
    width="64"
    height="64"
    class="h-16 w-16 rounded-full"
    quality="high"
  />
</span>
